@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto Slab', serif;
}

.do-it {
  height: 400px;
  width: 400px;
}

.button {
  margin: 0 10px;
  background-color: white;
  &:hover {
    background-color: lighten(yellow, 20%);
  }
  font-family: 'Roboto Slab', serif;
}

.q-title {
  margin: 30px 0px;
}

img {
  border: solid black 2px;
}

.card-footer {
  justify-content: flex-end;
  font-weight: bold;
  margin: 2px 10px 2px 2px;
}

.container {
  top: 25%;
}

.quiz-title {
  display: flex;
  align-items: center;
}

.get-a-quote {  
  background-color: #3298DC;
  height: 600px;
}

.sGetAQuote{
  min-height: calc(100vh - 3.25rem);
}

.section {
  margin: 0;
  padding: 0;
}

.game-info {
  margin: 50px;
}

.card-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
}

.card-content{
  font-size: 1.7rem;
}

#bStyle{
  font-size: 1.3rem;
}

.pStyles{
  font-size: 1.5rem;
  color: rgb(212, 181, 0);
}

#root > section{
  min-height: calc(100vh - 3.25rem);
}

@import '~bulma/bulma.sass';