
.do-it {
  height: 400px;
  width: 400px;
}

.button {
  margin: 0 10px;
  background-color: white;
  &:hover {
    background-color: lighten(yellow, 20%);
  }
}

.q-title {
  margin: 30px 0px;
}

img {
  border: solid black 2px;
}

// .button {
//   margin: 0 10px;
//   background-color: white;
//   &:hover {
//     background-color: lighten(red, 20%);
//   }
// }

// .button {
//   margin: 0 10px;
//   background-color: white;
//   &:hover {
//     background-color: lighten(green, 20%);
//   }
// }



@import '~bulma/bulma.sass';